*.scvd
*.vim
*.d
*.axf
*.crf
*.sct
*.htm
*.lnf
*.hex
*.dep

*.bat
.*.swp
.*.swn
.*.swo
.*.swl
.*.swm
tags
cscope.out
cscope.in.out
cscope.po.out

*.a
*.out
*.so
*.o

*.html
*.db
*.TMP
~$*

*.map
*.lnp
*.sct
*.lst
*.crf
*.d
*.axf


3,project/music_player/Project/RVMDK(uv5)/JLinkLog.txt
3,project/music_player/Project/RVMDK(uv5)/JLinkSetting.ini
3,project/music_player/Project/RVMDK(uv5)/Demo/*
3,project/music_player/Project/RVMDK(uv5)/Template.uvguix.*
3,project/music_player/Project/RVMDK(uv5)/startup_stm32f427xx.lst
3,project/music_player/Project/RVMDK(uv5)/RTE/RTE_Components.h
*.uvoptx
*.uvprojx
