*.scvd
*.vim
*.d
*.axf
*.crf
*.sct
*.htm
*.lnf
*.hex
*.dep

*.bat
.*.swp
.*.swn
.*.swo
.*.swl
.*.swm
tags
cscope.out
cscope.in.out
cscope.po.out

*.a
*.out
*.so
*.o

*.html
*.db
*.TMP
~$*

*.map
*.lnp
*.sct
*.lst
*.crf
*.d
*.axf


Template/MDK-ARM/JLinkLog.txt
Template/MDK-ARM/JLinkSetting.ini
Template/MDK-ARM/Demo/*
Template/MDK-ARM/Template.uvguix.*
Template/MDK-ARM/startup_stm32f427xx.lst
Template/MDK-ARM/RTE/RTE_Components.h
*.uvoptx
*.uvprojx
